// 動畫
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }

  @-moz-keyframes #{$name} {
    @content;
  }

  @-ms-keyframes #{$name} {
    @content;
  }

  @keyframes #{$name} {
    @content;
  }
}
// 背景
@mixin fixBgImg($url) {
  background: url($url);
  background-repeat: repeat-y;
  background-size: 100% auto;
  background-position: center;
  background-attachment: fixed;
}
