// Common
@import "common/var";
@import "common/func";
@import "common/mixin";
* {
  font-family: $body-font-family;
  font-size: $body-font-size;
  box-sizing: border-box;
  color: $--color-text-primary;
}
